/* Document-wise settings */

body {
    background-color: #f4f4f4;
    /* Make page unselectable */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Upper area with text output and play triangle */

.upper-row {
    display: flex;
}

.text-box {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    resize: none;
    font-size: 1.3rem;
}

.play-triangle {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 40px solid #00ba94;
    position: absolute;
    top: 15%;
    right: 11%;
}

.play-triangle:hover {
    border-left: 40px solid rgba(0, 186, 148, 0.8);
    cursor: pointer
}

.stop-square {
    height: 40px;
    width: 40px;
    background-color: #d9534f;
    position: absolute;
    top: 16%;
    right: 5%;
}

.stop-square:hover {
    background-color: rgb(217, 83, 79, 0.8);
    cursor: pointer;
}

/* Keyboard area */

.keyboard-container {
    margin-top: 5%;
}

.keyboard-line {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.key,
.large-key {
    box-shadow: 2px 2px 5px grey;
    border-radius: 10px;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
}

.large-key {
    width: 120px;
}
