/* Document-wise settings */

body {
    background-color: #f4f4f4;
    /* Make page unselectable */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

/* Upper area with text output and action buttons */

.upper-row {
    display: flex;
}

.reset-button {
    position: absolute;
    top: 8%;
    left: 5.5%;
    background-color: #d9534f;
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.reset-button:hover {
    background-color: rgb(217, 83, 79, 0.8);
    cursor: pointer;
}

.reset-x {
    vertical-align: middle;
}

.speed-minus,
.speed-plus {
    color: #00ba94;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 4em;
    font-weight: bold;
    position: absolute;
    top: 18%;
    left: 3%;
}

.speed-plus {
    left: 8.5%;
    top: 18.5%;
}

.speed-minus:hover,
.speed-plus:hover {
    color: rgba(0, 186, 148, 0.8);
    cursor: pointer
}

.speed-indicator {
    color: #000;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 2em;
    position: absolute;
    top: 21%;
    left: 6%;
}

.text-box {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    resize: none;
    font-size: 2.5rem;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.play-triangle {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 40px solid #00ba94;
    position: absolute;
    top: 8%;
    right: 6%;
}

.play-triangle:hover {
    border-left: 40px solid rgba(0, 186, 148, 0.8);
    cursor: pointer
}

.stop-square {
    height: 40px;
    width: 40px;
    background-color: #d9534f;
    position: absolute;
    top: 22%;
    right: 6%;
}

.stop-square:hover {
    background-color: rgb(217, 83, 79, 0.8);
    cursor: pointer;
}

/* Keyboard area */

.keyboard-container {
    margin-top: 3%;
}

.keyboard-line {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5%;
}

.key,
.large-key {
    box-shadow: 2px 2px 5px grey;
    border-radius: 10px;
    padding: 8px;
    width: 70px;
    height: 40px;
    font-size: 2.3rem;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
    font-weight: bold;
}

.large-key {
    width: 120px;
}

/* SMALLER SCREENS */
@media (max-width:1200px) {

    .hide-small-screen {
        display: none;
    }

}
